<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
	    <%= form_for(@user) do |f| %>
	      <%= render 'fields', object: f.object, f:f %>
	      <p><%= f.submit "Save the changes", class: "btn btn-large btn-primary" %></p>
	    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" TARGET="_blank">change</a>
  </div>
</div>
